:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #53aaea;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-seri;
}

header {
  background: linear-gradient(207.8deg, #201E1C 16.69%, #1476f7 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  align-items: center;
  text-align: center;
}

header img {
  width: 150px;
  height: 24px;
}

.header__tittle-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
}

.header__tittle-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--just-white);
  line-height: 2.6rem;
}

.header__tittle-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__tittle-container .header__button {
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--soft-blue);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 6px ;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  left: calc(50% - 115px);
}

.header__button span {
 display: inline-block;
 width: 13px;
 height: 8px;
 margin-left: 10px;
 background-image: url("../assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--black);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container__tittle {
  min-width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("../assets/img/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container h2 {
  margin: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: gray;
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #cac7c7;
}

.main-currency-table, .main-commission-table {
  width: 70%;
  min-width: 230px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table__tittle, .main-commission-table .commission-table__tittle {
  margin-bottom:  15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  
  color: var(--bitcoin-orange);
}

.main-commission-table .commission-table__tittle { 
  color: var(--secondary-blue);
}

.currency-table__container, .commission-table__container  {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto  ;
}

.currency-table__container table, .commission-table__container table {
  width: 100%;
  height: 100%;
}

.currency-table__container td, .commission-table__container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey);
  background-color: var(--warm-black);
}

.currency-table__date, .commission-table__date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: var(--soft-orange);
  padding: 8px;
  border-radius: 8px;
}

.commission-table__date {
  background-color: var(--secondary-blue);
}

.currency-table__date p, .commission-table__date p {
  margin-top: 0px;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--warm-black);
 }

 .currency-table__container span {
  margin-left: 12px;
 }
 
 .main-product-detail{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: rgb(87, 87, 87);
 }

 .product-detail__logo {
   position: absolute;
   width: 40px;
   height: 25px;
   top: -10px;
   left: calc(50% - 20px);
   background-image: url("../assets/icons/batata.svg");
 }

 .product-detail__tittle {
   width: 90%;
   min-width: 288px;
   height: auto;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
 }

 .product-detail__tittle h2 {
   margin-bottom: 20px;
   font-size: 2.4rem;
   font-weight: bold;
   line-height: 2.6rem;
   color: var(--just-white);
 }

 .product-detail__tittle p {
   margin-bottom: 20px;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #b9b8b8;
 }

 .product-detail__card {
   width: 100%;
   min-width: 288px;
   max-width: 400px;
   height: 150px;
   margin: 15px auto;
   padding: 15px;
   background-color: var(--warm-black);
   border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
 }

 .product-detail__card .card__icon {
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-bottom:10px ;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }

 .product-detail__card .clock {
  background-image: url("../assets/icons/clock.svg");
 }

 .product-detail__card .eye{
  background-image: url("../assets/icons/eye.svg");
 }

 .product-detail__card .dollar-sign{
   background-image: url("../assets/icons/dollar-sign.svg");
 }

 .product-detail__card .check-circle {
   background-image: url("../assets/icons/check-circle.svg");
 }

 .product-card__tittle {
   margin-bottom: 15px;
   font-size: 1.8rem;
   font-weight: bold;
   line-height: 1.8rem;
   color: var(--just-white);
 }

 .product-card__body {
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #b9b8b8;
 }

